#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

DEB_HOST_ARCH_OS := $(shell dpkg-architecture -q DEB_HOST_ARCH_OS 2>/dev/null)

%:
	dh $@

override_dh_compress:
	dh_compress -X archive -X .c -X .h

override_dh_makeshlibs:
	dh_makeshlibs -V

ifeq ($(DEB_HOST_ARCH_OS), kfreebsd)
override_dh_gencontrol:
	echo kfreebsd:Depends=libcam-dev >>debian/libsgutils2-dev.substvars
	dh_gencontrol
endif
